* {
  box-sizing: border-box;
}

body {
  background: #FC4B3D;
  font-family: Arial;
}

div.main-container {
  width: 95%;
  height: 96vh;
  background: #3531AA;
  margin: 2vh auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.two-flex {
  display: flex;
  justify-content: space-between;
  height: 5vw;
  position: absolute;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 2vw;
  display: flex;
  align-items: center;
}

div.two-flex:first-of-type {
  top: 0;
}

div.two-flex:last-of-type {
  bottom: 0;
}

div.middle-container {
  height: 80vh;
  background: white;
  width: 40%;
}

div.some {
  margin: 0 2vw;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  height: 75vh;
}

/* eye  ############################## */
div.first-circle {
  height: 4vw;
  background: white;
  border-radius: 90%;
  width: 8vw;
  position: relative;
}

div.second-circle {
  height: 3vw;
  background: #21825A;
  border-radius: 60%;
  width: 5vw;
  position: absolute;
  top: .5vw;
  left: 1.5vw;
}

.third-circle, .third-circle-red {
  height: 2vw;
  background: #312A2C;
  border-radius: 60%;
  width: 2vw;
  position: absolute;
  top: .5vw;
  left: 1.5vw;
}

.third-circle-red {
  opacity: 0;
  background: #c4192d;
  box-shadow: 0 0 10px yellow;
  transition: all .7s;
}

.three-links {
  color: white;
  text-decoration: none;
}

.three-links:hover {
  color: #FC4B3D;
  text-decoration: none;
}

/* home.js ###################################### */
div.home {
  background: #D89E4A;
  height: 80vh;
  color: black;
}
div.home * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.home div.my-name {
  padding-top: 2vw;
  text-align: center;
  font-size: 2vw;
}
div.home div.my-name h4, div.home div.my-name h5 {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  transition: .2s;
  margin: auto;
}
div.home div.my-name h4 {
  width: 70%;
  background-image: linear-gradient(to right, cyan, lime);
}
div.home div.my-name h4:hover {
  transform: skewY(5deg);
  text-shadow: 5px 10px 20px blue;
}
div.home div.my-name h5 {
  width: 40%;
  font-size: 1.3vw;
  padding: 1vw 0;
  background-image: linear-gradient(to right, red, blue);
}
div.home div.my-name h5:hover {
  background-image: linear-gradient(to right, cyan, lime);
  text-shadow: -10px 10px 10px rgba(0, 0, 255, 0.5);
}
div.home div.main-foto-container {
  position: relative;
  height: 50%;
  perspective: 1000px;
  width: 40%;
  margin: 0 auto;
}
div.home div.main-foto-container .rotate-container,
div.home div.main-foto-container .foto-container-front,
div.home div.main-foto-container .foto-container-back {
  width: 100%;
  height: 100%;
}
div.home div.main-foto-container .rotate-container {
  position: relative;
  transform-style: preserve-3d;
  transition: all .8s;
  box-shadow: 0 0 10px yellow;
}
div.home div.main-foto-container .rotate-container .foto-container-front {
  position: absolute;
  backface-visibility: hidden;
}
div.home div.main-foto-container .rotate-container .foto-container-front img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
div.home div.main-foto-container .rotate-container .foto-container-back {
  position: absolute;
  background: cyan;
  transform: rotateY(-180deg);
  border-radius: 5px;
  text-align: center;
}
div.home div.main-foto-container .rotate-container .foto-container-back p {
  padding: .6vw 0;
  color: #D89E4A;
}
div.home div.main-foto-container .rotate-container .foto-container-back p:first-of-type {
  padding-top: 2vw;
}
div.home div.main-foto-container:hover .rotate-container {
  transform: rotateY(-180deg);
}

div.under-foto {
  width: 80%;
  text-align: center;
  margin: 1vw auto;
}
div.under-foto * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.under-foto h6, div.under-foto p {
  background-image: linear-gradient(to right bottom, black, cyan);
  background-clip: text;
  color: transparent;
  filter: brightness(60%);
}
div.under-foto h6 {
  padding: 1vw 0;
}
div.under-foto p {
  padding: .6vw 0;
}

div.contact-details {
  height: 7vw !important;
  padding: 2vw;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contact-container div.data-container {
  display: flex;
  justify-content: space-around;
  margin: 2vw auto;
  text-align: center;
  background: #E9ECEF;
  border: 1px solid cyan;
  width: 90%;
  align-items: center;
}
div.contact-container div.data-container span {
  font-weight: 700;
}
div.contact-container div.data-container span, div.contact-container div.data-container p {
  padding: 1vw 0;
  margin: 0;
}
div.contact-container div.data-container span.titel {
  padding-left: 1vw;
}
div.contact-container div.data-container p {
  font-weight: 100;
  padding-right: .5vw;
}
div.contact-container div.data-container p:hover {
  cursor: pointer;
  color: blue;
}

div.map-container {
  height: 9.5vw;
  width: 90%;
  margin: 1vw auto;
  border: 1px solid cyan;
}
div.map-container iframe {
  width: 100%;
  height: 100%;
}

div.mistake-container {
  color: black;
}

div.project-container {
  margin-bottom: .5vw;
  text-align: center;
  color: white;
}
div.project-container h6 {
  padding-top: .7vw;
}
div.project-container p {
  margin-bottom: 8px;
}
div.project-container li {
  padding-bottom: .6vw;
  list-style-type: none;
}
div.project-container li a {
  color: #FFC107;
  position: relative;
  z-index: 2;
}

div.first-project {
  margin-top: -3vw;
  background: #6C757D;
}

div.last-project {
  background: #343A40;
}

div.second-project {
  background: #DC3545;
}

div.third-project {
  background: #17A2B8;
}

.card-block {
  width: 100%;
  background: #17A2B8;
  color: white;
  margin-top: .4vw;
  border-radius: 0%;
  margin-bottom: 1vw;
}

.education {
  margin-top: -2.2vw;
  background: #343A40;
}

.language-skills {
  background: #6C757D;
}

.modal-main {
  backdrop-filter: blur(8px);
  color: white;
}
.modal-main .modal-header {
  background: #60b28c;
  text-transform: uppercase;
}
.modal-main .modal-body {
  background: #60b28c;
}
.modal-main .modal-footer {
  background: #60b28c;
}

/* // @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// } */
